 /**{border: 1px solid red;} */
.user-create-question {
		
		border:1px solid red;
		border-radius: 10px;

	}
	.form-create-question-wrapper{
		width: 100%;
	}
	#form-create-question {
		color: #0d28f2;
	}
	.content-question-group {
		width: 100%;
		background-color: #bcbcbc;
		padding: 1%;
		border-radius: 10px
		
	}
	.file-attachment-group {
		padding: 5%;
		display: flex;
		justify-content: flex-end;

	}
	.file-attachment-group img {
		height: 20%;
		margin-top: 10%;
	}
	.button-form-submit {
		display: flex;
		justify-content: center;
	}
	.button-form-submit button {
		font-weight: bold;
		color: #0d28f2;
	}
	.button-form-submit img {
		height: 10%;
		margin-bottom: 10%;
	}
	#menu_right{
		margin-left: 30%;
		margin-top: 7%;
		background-color: #ffffff;
		border-radius: 10px;
		
	}
	#user{
		text-align: right
	}
	#content{
		background-image: url('../image/bgr_content.png');
	
	}
	.alert-link:hover{
		background: #CCCCCC;
   	  	color: #fff;
	}
	.alert-link{
		width:
	}
	#noidung #menu_left ul a{
		margin-top: 10%
	}


	#Message{
		color: red;
		font-size: 75%;
		margin-right: 30%;
		opacity: 0;
		display: block;
		text-align: right;
	}

	#Message2{
		color: red;
		font-size: 75%;
		margin-right: 30%;
		text-align: right;
		opacity: 0;
		display: block;
	}

	#Message3{
		color: red;
		font-size: 75%;
		margin-right: 30%;
		text-align: right;
		opacity: 0;
		display: block;
	}
	