<!-- begin footer -->
	<div id="footer">
		<img src="../../image/header_mobile.png" alt="footer"/>
		<p>
			Trường Đại Học Kỹ Thuật - Công Nghệ Cần Thơ <br>
			Địa chỉ: 256 Nguyễn Văn Cừ, An Hòa, Ninh Kiều, Cần Thơ <br>
			Điện thoại: 035.2323.040
		</p>
	</div>
	<!-- end footer -->

	<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../js/popper.min.js"></script>
	<script type="text/javascript" src="../../css/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</body>
</html>