<style type="text/css">
	.chu_xanh{
		color: blue;
	}
</style>
<!-- begin thanh menu -->
	<div class="container">
	    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	    	<!-- icon home -->
	        <a class="navbar-brand" href="#"><img src="http://localhost/lap_trinh_quep/image/icon_home.png"></a>
	        <!-- button respon -->
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">

	            <ul class="navbar-nav mr-auto chu_xanh">
	            	<!-- danh sach khoa cntt -->
	                <li class="nav-item dropdown">
	                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-right: 1px solid blue; border-left: 1px solid blue; color: blue;">
	        				Khoa CNTT
	        			</a>
	                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-top: 8%;">
	                        <a class="dropdown-item chu_xanh" href="#" style="color: blue;">Kỹ thuật phần mềm</a>
	                        <a class="dropdown-item chu_xanh" href="#" style="color: blue;">Khoa học máy tính</a>
	                        <a class="dropdown-item chu_xanh" href="#" style="color: blue;">Hệ thống thông tin</a>
	                    </div>
	                </li>
	                <!-- lien he -->
	                <li class="nav-item">
	                	<a class="nav-link" href="#" role="button" style="border-right: 1px solid blue; color: blue;">Liên hệ</a>	
	                </li>
	                
	            </ul>
	            
	        </div>
	    </nav>
	</div>
	<!-- end thanh menu -->