<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
	<link rel="stylesheet" href="../../css/style.css">
	<!-- <link rel="stylesheet" type="text/css" href="../../css/header.css"/> -->
	<link rel="stylesheet" type="text/css" href="../../css/footer.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/header.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap-4.0.0-dist/css/bootstrap-grid.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap-4.0.0-dist/css/bootstrap-reboot.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap-4.0.0-dist/css/bootstrap-reboot.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap-4.0.0-dist/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap-4.0.0-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="header">
		<img src="../../image/headernew.png" alt="header"/>
		<div>
			<object data="../../image/logo.svg" type="image/svg+xml"></object>	
		</div>
		
		<p>WEBSITE TẠO ĐỀ THI TRẮC NGHIỆM</p>
	</div>
	<div id="content">
		<div id="user">
			<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  				<div class="btn-group" role="group">
    				<button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:blue"> <img src="../../image/icon_admin.png">
      					Lê Hải Triều
   					 </button>
    				<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      					<a class="dropdown-item" href="#">đăng xuất</a>
    				</div>
  				</div>
			</div>
		</div>
		<div id="noidung">
			<div id="content-left">
				<table class="table table-bordered">
				  <tbody>
				    <tr>
				      <th scope="row"><a href="#" style="color: blue"><img src="../../image/iocn_class.png"> Kỹ Thuật Phần Mềm</a></th>
				    </tr>
				    <tr>
				      <th scope="row"><a href="#" style="color: blue"><img src="../../image/iocn_class.png"> Kỹ Thuật Phần Mềm</a></th>
				    </tr>
				    <tr>
				      <th scope="row"><a href="#" style="color: blue"><img src="../../image/iocn_class.png"> Kỹ Thuật Phần Mềm</a></th>
				    </tr>
				  </tbody>
				</table>
			</div>
			<div id="content-right">
				<table class="table table-bordered">
				  <thead>
				    <tr>
				      <th scope="col" style="color: #808080">ID</th>
				      <th scope="col" style="color: #808080">MÃ NGÀNH</th>
				      <th scope="col" style="color: #808080">TÊN NGÀNH</th>
				      <th scope="col" style="color: #808080">TÊN MÔN</th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row" style="color: #808080">123</th>
				      <td style="color: #808080">123456</td>
				      <td style="color: #808080">KTPM</td>
				      <td style="color: #808080">CƠ SỞ DỮ LIỆU</td>
				      <th scope="col">
				      	<button type="button" class="btn btn-secondary btn-sm">Tạo câu hỏi</button> 
				      	<button type="button" class="btn btn-secondary btn-sm">Tạo đề</button>
				      </th>
				    </tr>
				    <tr>
				      <th scope="row" style="color: #808080">123</th>
				      <td style="color: #808080">123456</td>
				      <td style="color: #808080">KTPM</td>
				      <td style="color: #808080">CƠ SỞ DỮ LIỆU</td>
				      <th scope="col">
				      	<button type="button" class="btn btn-secondary btn-sm">Tạo câu hỏi</button> 
				      	<button type="button" class="btn btn-secondary btn-sm">Tạo đề</button>
				  	  </th>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="footer">
		<img src="../../image/header_mobile.png" alt="footer"/>
		<p>
			Trường Đại Học Kỹ Thuật - Công Nghệ Cần Thơ <br>
			Địa chỉ: 256 Nguyễn Văn Cừ, An Hòa, Ninh Kiều, Cần Thơ <br>
			Điện thoại: 035.2323.040
		</p>
	</div>
</body>
</html>